*::after,
*::before,
* {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit;
}
html,
body {
  box-sizing: border-box;
}

@media (hover) {
  .link-style::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: black;
    left: 0%;
    transition: all 200ms;
    top: 100%;
  }
  .link-style:hover.link-style::after {
    top: 90%;
  }
  .parent-element:hover .hover-element:not(:hover) {
    filter: blur(2px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
